.sidenav-container{
    padding: 5px;
    margin-top: 0;
    position: absolute;
    width: 18%;
    height: 100%;
    background: #202123;
    /* background: rgb(26, 12, 93); */
    color: white;
    /* padding-top: 20px; */
    padding-top: 2%;
    /* padding-left: 15px; */
    padding-left: 2%;
}

.search-container {
    /* display: auto; */
    display: flex;
    border: 1px solid #dddddd;
    padding: 5px;
    border-radius: 25px;
    width: 90%;
    align-items: center;
    background-color: #f8f8f8;
    padding-top: 0%;
    padding-bottom: 0%;
}

.search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    border-radius: 25px;
    /* padding-left: 0; */
}

.search-button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 7px 11px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.search-button:hover {
    background-color: #0056b3;
}