.Chatbody{
    padding-top: 20px;
}

.chat-container{
    margin-top: 10px;
}

.chatbody-container{
    padding-top: 20px;
    /* border: 1px solid red; */
    overflow: auto;
    width: 50%;
    height: 700px;
    margin: 0 auto;
}

.input-container{
    /* position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%); */
    margin-top: 15px;
    text-align: center;
}

.input-text{
    height: 42px;
    width: 40%;

    border: 1px solid grey;
    border-radius: 5px;
    padding-left: 29px;
}

.file-container {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    /* cursor: pointer; */
}

.file-container label {
    display: flex;
    align-items: center;
    padding: 5px 5px;
    color: black;
    font-weight: bold;
    /* cursor: pointer; */
    margin-top: 10px;
    margin-left: 3px;
}

.input-button{
    height: 44px;
    width: 40px;
    /* cursor: pointer; */
}





.avatar-circle {
    width: 50px; /* Adjust as needed */
    height: 50px;
    border-radius: 50%; /* Makes the div circular */
    overflow: hidden;  /* Hides the parts of the image outside the circle */
    border: 2px solid #ddd; /* Optional border */
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-circle img {
    max-width: 100%;
    height: auto;
}

.chat-user-text{
    display: flex;
}

.chat-user-text .data{
    width: 100%;
    /* border: 1px solid red; */
    padding-top: 20px;
    /* padding-left: 20px; */
}


.time{
   float: right;
   font-weight: 500;
   font-size: 11px;
}

.chat-ai-reply{
    margin-top: 20px;
    display: flex;
}

.werey-avater{
    width: 7%;
}
.chat-ai-reply .data{
    width: 100%;
    /* border: 1px solid red; */
    padding-top: 20px;
    /* padding-left: 20px; */
}



