.Chatbody{
    padding-top: 20px;
}

.chatbody-container{
    padding-top: 20px;
    overflow: auto;
    width: 50%;
    margin: 0;
    /* border: 1px solid red; */
    /* height: 700px; */
}

.input-container{
    position: fixed;
    bottom: 0;
    left: 25%;
    width: 60%;
    align-self: right;
    margin-top: 15px;
    text-align: center;
    /* margin-top: 700px; */
}

.input-text{
    /* height: 42px; */
    width: 40%;
    border: 1px solid grey;
    border-radius: 5px;
    /* padding-left: 40px; */
}

.file-container {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
}

.file-container label {
    display: fixed;
    align-items: center;
    padding: 5px 5px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 3px;
}

/* Thiss */
.input-button{
    margin-left: 95%;
    height: 10px;
    width: 5px;
    cursor: pointer;
}

.avatar-circle {
    width: 50px; /* Adjust as needed */
    height: 50px;
    border-radius: 50%; /* Makes the div circular */
    overflow: hidden;  /* Hides the parts of the image outside the circle */
    border: 2px solid #ddd; /* Optional border */
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-circle img {
    max-width: 100%;
    height: auto;
}

.chat-user-text{
    display: flex;
}

.chat-user-text .data{
    width: 100%;
    /* border: 1px solid red; */
    padding-top: 20px;
    padding-left: 5%;
}

.chat-ai-reply{
    margin-top: 20px;
    display: flex;
}

.werey-avater{
    margin-left: 45%;
    width: 7%;
}
.chat-ai-reply .data{
    width: 100%;
    /* border: 1px solid red; */
    padding-top: 20px;
    padding-left: 5%;
}



