.chat-box {
    background-color: #fff;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .chat-messages {
    align-items: right;
    flex: 1;
    overflow-y: auto;
    padding: 5px;
  }
  
  .message {
    margin: 10px 0;
  }
  
  .user {
    font-weight: bold;
    align-items: right;
    margin-right: 5px;
    padding-left: 10px;
  }

  .assistant {
    font-weight: bold;
    margin-right: 10px;
    padding-left: 10px;
  }
  
  .chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
    margin-left: 10px;
  }
  
  .chat-input input {
    flex: 1;
    padding: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
  }
  
  .chat-input button {
    background-color: #eddd0a;
    /* background-image: url('path_to_your_image.png'); */
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    outline: none;
  }
  
  .chat-input button:hover {
    background-color: #b8ae23;
  }
  